In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({"a":[1,2,3,4,5],"b":[10,9,8,7,6]})

In [4]:
df.describe()

              a          b
count  5.000000   5.000000
mean   3.000000   8.000000
std    1.581139   1.581139
min    1.000000   6.000000
25%    2.000000   7.000000
50%    3.000000   8.000000
75%    4.000000   9.000000
max    5.000000  10.000000